*{
    margin: 0px;
    
}

.header{
    margin: 40px;
    text-align: center;
}

.indicator-board{
    border: 5px solid black;
    border-radius: 10px;
    width: 80%;
    min-width: 250px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

#velocity{
    font-size: 150px;
    text-align: center;
    margin-top: 10px;
    
}

.unit{
    font-size: 30px;
    text-align: center;
    
}

.footer{
    margin-top: 30px;
    text-align: center;
}

.btn-start{
    width: 37%;
    height: 50px;
    margin: 10px;
}

.btn-end{
    width: 37%;
    height: 50px;
    margin: 10px;
}
.table{
    margin: 10px;
    width: 90%;
}
.boxes{
    height: 60px;
    width: 80%;
    background-color: rgba(128, 128, 128, 0.396);
    border: 1px solid black;
    border-radius: 10px;
    width: 80%;
    min-width: 250px;
    margin: auto;
    margin-bottom: 10px;
    padding-top: 15px;
}