*{
    margin: 0px;
    
}

.header{
    margin: 40px;
    text-align: center;
}

.indicator-board{
    border: 5px solid black;
    border-radius: 100px;
    width: 80%;
    min-width: 250px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
}

.velocity{
    font-size: 150px;
    text-align: center;
    margin-top: 10px;
    
}

.unit{
    font-size: 30px;
    text-align: center;
    
}

.footer{
    margin-top: 30px;
    text-align: center;
}

.btn-start{
    width: 40%;
    height: 50px;
    margin: 10px;
}

.btn-end{
    width: 40%;
    height: 50px;
    margin: 10px;
}
.table{
    margin: 25px;
}